@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .container .logo {
    margin-left: 6rem;
  }

  .container .logo .image-logo {
    width: 12rem;
  }

  .container .project {
    display: flex;
    flex-direction: column;

    margin: 2rem 0;
    padding: 0 2rem;
    text-align: center;
  }

  .container .project .background-image {
    width: 100%;
  }

  .container .project .background-image img {
    width: 80%;
    margin-top: 2rem;
  }

  .container .project .company .title {
    padding: 0 6rem;
  }

  .container .project .company .description {
    margin: 2rem 0;
    font-size: 1.2rem;
    padding: 0 5rem;
    line-height: 35px;
  }

  .container .project .company .btn {
    width: 80%;
  }

  .container footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
}

@media (max-width: 576px) {
  .container {
    background-image: url(../images/bg-mobile.svg);

    display: flex;
    flex-direction: column;
  }

  .container .logo {
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  .container .logo .image-logo {
    width: 12rem;
  }

  .container .project {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 .5rem;
  }

  .container .project .background-image {
    width: 100%;
  }

  .container .project .background-image img {
    width: 85%;
    margin-top: 2rem;
  }

  .container .project .company .title {
    font-size: 2rem;
    padding: 0 3rem;
  }

  .container .project .company .description {
    font-size: .9rem;
    margin-top: 1rem;
    padding: 0 1rem;
    line-height: 25px;
  }

  .container .project .company .btn {
    width: 20rem;
    padding: .7rem 1.5rem;
  }

  footer {
    display: flex;
    justify-content: center;
  }
  

  footer .social-media .item {
    margin: 1rem 0;
  }
}